---
apiVersion: batch/v1
kind: Job
metadata:
  name: zap-baseline
  namespace: apps
  labels:
    app: zap
    scan-type: baseline
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        app: zap
        scan-type: baseline
    spec:
      restartPolicy: Never
      containers:
        - name: zap
          image: ghcr.io/zaproxy/zaproxy:stable
          command:
            - zap-baseline.py
            - "-t"
            - "http://sample-app.apps.svc.cluster.local:8080"
            - "-J"
            - "zap-baseline-report.json"
            - "-c"
            - "/zap/wrk/rules.tsv"
            - "-I"
          volumeMounts:
            - name: reports
              mountPath: /zap/wrk
            - name: rules
              mountPath: /zap/wrk/rules.tsv
              subPath: rules.tsv
              readOnly: true
          securityContext:
            runAsUser: 0
      volumes:
        - name: reports
          persistentVolumeClaim:
            claimName: zap-reports
        - name: rules
          configMap:
            name: zap-rules
